$clr-primary: #11071f;
$clr-white: #ffffff;
$clr-black: #051114;
$clr-purple-100: #1a0b2e;
$clr-purple-70: #2b0b3a;
$clr-purple-50: #251c31;
$clr-purple-30: #544962;
$clr-highlight: #a362ff;
$clr-gray: #ccd6f6;
