@import "../../styles/global.scss";

.navbar {
  background-color: $clr-purple-100;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;

  .navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;

    .logo {
      height: 50px;
      transform: rotate(1deg);

      @media (max-width: 992px) {
        position: absolute;
        left: 20px;
        top: 20px;
      }
    }

    .nav-links {
      display: flex;
      gap: 90px;
      color: $clr-white;
      @include font-Preahvihear(20px, $clr-white, 400, normal);

      a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -2px;
          height: 3px;
          width: 0%;
          background-color: $clr-white;
          opacity: 0.7;
          transition: all 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }

      @media (max-width: 992px) {
        display: none;
      }
    }

    @media (max-width: 992px) {
      padding: 0;
      min-height: 80px;
    }
  }

  .hamburger-menu-btn {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }
}

.hamburger-menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 20px;
  height: 32px;
  width: 45px;
  border-radius: 5px;
  border: 1.5px solid $clr-purple-70;
  background-color: $clr-white;

  &:active {
    transform: scale(0.95);
  }
}

.hamburger {
  .navbar-container {
    @media (max-width: 992px) {
      height: 100vh;
      background: $clr-purple-100;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 100;

      .nav-links {
        @include font-Preahvihear(25px, $clr-white, 400, normal);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
