@import "../../styles/global.scss";

.footer {
  background-color: $clr-black;
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 80px;
    border-bottom: 1px solid $clr-white-50;

    .footer-column {
      display: flex;
      flex-direction: column;

      .logo {
        width: 152px;
        margin-bottom: 30px;

        @media (max-width: 576px) {
          width: 130px;
          margin-bottom: 20px;
        }
      }

      .title {
        @include inter(22px, $clr-white, 500, 140%);
        margin-bottom: 30px;

        @media (max-width: 576px) {
          font-size: 18px;
          margin-bottom: 17px;
        }
      }

      .link-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .footer-link {
          @include inter(16px, $clr-white, 400, 160%);
          opacity: 0.7;

          @media (max-width: 576px) {
            font-size: 15px;
          }
        }
      }

      .desc {
        @include inter(16px, $clr-white, 400, 160%);
        opacity: 0.7;
        max-width: 288px;
        margin-bottom: 30px;

        @media (max-width: 576px) {
          font-size: 15px;
          margin-bottom: 20px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
          max-width: 200px;
        }
      }

      .social-wrapper {
        display: flex;
        gap: 30px;

        .social-link {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          padding: 10px;
          color: $clr-white;
          border: 1px solid $clr-white-50;
          transition: all 0.5s ease;

          &:hover {
            filter: opacity(0.5);
          }

          @media (max-width: 576px) {
            font-size: 15px;
          }
        }
      }
      .email-box {
        display: flex;

        .input {
          @include inter(16px, $clr-white-50, 400, 160%);
          max-width: 200px;
          padding: 15px;
          color: $clr-white;
          background-color: $clr-black;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: 2px solid $clr-white-50;
          margin-right: -10px;
        }

        .button {
          @include inter(16px, $clr-white, 500, 160%);
          border: none;
          background-color: $clr-primary;
          text-decoration: none;
          padding: 15px 30px;
          color: $clr-white;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: $clr-hover-blue;
          }
        }
      }
    }

    @media (max-width: 992px) {
      gap: 30px;

      .footer-column {
        &:nth-child(1) {
          flex: 1 1 30%;
        }

        &:nth-child(2) {
          flex: 1 1 20%;
        }
        &:nth-child(3) {
          flex: 1 1 40%;
        }
        &:nth-child(4) {
          flex: 1 1 50%;
        }
      }
    }

    @media (max-width: 576px) {
      .footer-column {
        &:nth-child(1) {
          flex: 1 1 100%;
        }

        &:nth-child(2) {
          flex: 1 1 25%;
        }

        &:nth-child(3) {
          flex: 1 1 25%;
        }

        &:nth-child(4) {
          flex: 1 1 30%;
        }
      }
    }

    @media (max-width: 576px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .copyright {
    @include inter(18px, $clr-white, 500, 160%);
    opacity: 0.7;
    text-align: center;
    padding-block: 30px;

    @media (max-width: 576px) {
      font-size: 16px;
      padding-block: 20px;
    }
  }
}
